/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(15, 15, 15);
    height: 100vh;
}

.interface{
    max-width: 1920px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(179, 75, 240);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: rgb(179, 75, 240);
}

button:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px rgb(154, 3, 255);
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 30px 3%;
}

header .logo img {
    max-width:100px;
    max-height:90px;
    width: auto;
    height: auto;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(110, 110, 110);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: white;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    padding: 200px 4%;
}

section.topo-do-site.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: white;
    font-size: 48px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: rgb(179, 75, 240);
}

.topo-do-site .txt-topo-site p {
    color: white;
    margin: 40px 0;
}


.topo-do-site .img-topo-site img {
    max-width: 350px;
    width: auto;
    box-shadow: 0px 0px 8px rgb(154, 3, 255);
    border: 2px solid rgb(179, 75, 240);
    padding: 5px;
    border-radius: 50%;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */
section.especialidades{
    padding: 170px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: white;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid white;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
}

.especialidades .especialidades-box i{
    font-size: 40px;
    color: rgb(179, 75, 240);
}

.especialidades .especialidades-box h3{
    font-size: 20px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */
section.sobre{
    padding: 200px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

section.sobre .img-sobre img{
    border-radius: 5%;
    max-width:400px;
    width: auto;
}

.sobre .txt-sobre{
    color: white;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color:rgb(179, 75, 240);
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color:rgb(179, 75, 240);
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* ESTILO PORTFÓLIO */
section.portfolio{
    padding: 200px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.027);
}

section.portfolio .flex{
    justify-content: space-around;
}

.img-port{
    width: 600px;
    height: 300px;
    background-color:rgb(179, 75, 240);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 3%;
    transition: 0.2s;
}

.img-port:hover{
    transform: scale(1.05);
}

